<!DOCTYPE html>
<html lang="en">
{{>head}}
<body>     
    {{>navbar}}
    <div class="home">
        <img src="images/images.jpg" alt="YY"/>
        <h1 style="text-align: cenetr;">Emp Details</h1>
        <p>login to view the details</p>
    </div>
    {{>footer}}
</body>
</html>